html, body {
  margin: 0;
}
body {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 1000px;
  display: flex;
  margin: 0 auto;
  -webkit-box-shadow: -2px 9px 13px 6px rgba(0,0,0,0.32); 
  box-shadow: -2px 9px 13px 6px rgba(0,0,0,0.32);
}
.main {
  display: flex;
  flex-flow: column;
  width: 85%;
}
.menu {
  width: 15%;
  background-color: aqua;
  padding: 10px 20px 0px;
  
}
.header {
  min-height: 150px;
}
.content {
  background-color: white;
  min-height: 300px;
  padding: 20px;
}
.content h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content h2{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.content ol li{
  font-family: Arial, Helvetica, sans-serif;
  font: 500;
}
.footer {
  background-color: rgb(99, 56, 240);
  min-height: 150px;
}